@import "../../assets/mixins/chances";

#Board {
  width: 80%;
  margin: 1.5rem auto;
  font-size: 1.4rem;
  color: white;
  .container {
    display: grid;
    grid-template-columns: 0.5fr 12fr 1fr;
    grid-template-rows: 3px 3fr 1fr 1fr;
  }
  & img {
    width: 22px;
    height: 22px;
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 11px);
  }
  .lines {
    grid-column: 2 / 3;
    display: flex;
    .line {
      flex-grow: 1;
      background-color: white;
    }
  }
  .number {
    border: 2px solid white;
    font-size: 1.8rem;
    $commonNumberHeight: 60px;
    min-height: $commonNumberHeight;
    line-height: $commonNumberHeight;
    transition: box-shadow 250ms ease-out;
    position: relative;
    &--zero {
      line-height: $commonNumberHeight * 3 + 6;
      background-color: green;
      display: block;
      height: 100%;
      box-sizing: border-box;
    }
    &:hover,
    &.number--preselected {
      box-shadow: inset 0 0 40px #fafafa;
    }
  }
  .dirty-numbers {
    grid-row: 1 / 3;
    grid-column: 1;
  }
  .common-numbers {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(12, 1fr);
    grid-column-start: 2;
    cursor: pointer;
    .number {
      border-top: none;
      &:nth-of-type(3n) {
        grid-row: 1;
      }
      &:nth-of-type(3n + 2) {
        grid-row: 2;
      }
      &:nth-of-type(3n + 1) {
        grid-row: 3;
      }
    }
  }
}
